html {
  box-sizing: border-box;
  line-height: 1.5;
  color: #666;
  font-family: Lato, sans-serif;
  background-color: #eee9de;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  background-color: #eee9de;
  margin: 0;
  vertical-align: middle;
}

section {
  display: block;
  text-align: center;
  margin-bottom: 2em;
}

img {
  display: block;
  width: 100%;
  max-width: 25em;
  padding-top: .5em;
  padding-bottom: 0;
}

div {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
  padding-left: 1em;
  padding-right: 1em;
  margin-top: 2.5em;
}

p {
  max-width: 25em;
  text-align: left;
  color: #000;
}

h2 {
  display: block;
  text-align: left;
  margin: 0;
  padding-top: 0;
  padding-bottom: 0;
  color: #000;
}

.btn {
  display: inline-block;
  border: 2.5px solid #000;
  background-color: #eee9de;
  border-radius: 8px;
  padding: .6em .7em;
  font-family: Lato, sans-serif;
  font-size: 1.1em;
  color: #333;
  text-decoration: none;
  text-align: left;
  margin-top: .5em;
}
