html {
  box-sizing: border-box;
  line-height: 1.5;
  font-family: Lato, sans-serif;
  background-color: #eee9de;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  background-color: #eee9de;
  margin: 1.5rem;
  vertical-align: middle;
}

section {
  display: block;
  text-align: center;
}

img {
  display: block;
  width: 100%;
  max-width: 25em;
  padding-top: .5em;
  padding-bottom: .75em;
}

div {
  display: inline-block;
  text-align: left;
  vertical-align: top;
  padding-left: .5em;
}

p {
  max-width: 25em;
  text-align: left;
}

h2 {
  display: block;
  text-align: left;
  margin: .01em;
}

.btn {
  display: inline-block;
  border: 2.5px solid #000;
  background-color: #eee9de;
  border-radius: 8px;
  padding: .6em .7em;
  font-family: Lato, sans-serif;
  font-size: 1.1em;
  color: #333;
  text-decoration: none;
  text-align: left;
}
